{% extends 'master.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css'  %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block content %}

<div class="login-form-container">
    {% include 'messages.html' %}
    <div class="login-form-content">
        <h2>Log in to your account</h2>
        <p class="description">
            Lorem ipsum dolor sit amet consectetur. Sollicitudin neque fringilla aliquam mauris elit. Leo vel lorem males
        </p>
        <form method="post" action="/signin" class="login-form">
            {% csrf_token %}
            
            <!-- Username Input -->
            <label for="loginusername">Username*</label>
            <input type="text" id="loginusername" name="loginusername" placeholder="Enter your username" required>
            
            <!-- Password Input -->
            <label for="loginpassword">Password*</label>
            <input type="password" id="loginpassword" name="loginpassword" placeholder="Enter your password" required>
            
            <!-- Submit Button -->
            <button type="submit" class="login-btn">Sign in</button>
        </form>
        <p class="login-footer">Don't have an account? <a href="/register">Create new</a></p>
    </div>
</div>

{% endblock %}
